[user]
	name = Lars Artmann
	email = git@lars.software
	signingkey = 76687BB69B36BFB1B1C58FA878B4350389C71333
[core]
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "ssh://git@github.com/creditornot"]
	insteadOf = https://github.com/creditornot
[commit]
	gpgsign = true
[tag]
	gpgsign = true
